{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="{% static 'fruit/css/default.css' %}" rel="stylesheet">
  </head>
  <body>
    <h1>chat</h1>
    <p>下のフォームから日記をつけましょう！</p>
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <div>
        <label for="titleInput">タイトル</label><br>
        <input id="titleInput" name="title" type="text" placeholder="Input title">
      </div>
      <div>
        <label for="textInput">テキスト</label><br>
        <textarea id="textInput" name="text" rows="3"></textarea>
      </div>
      <div>
        <button type="submit">完了</button>
      </div>
    </form>
    <button onclick="location.href='weather.html'" >天気はこちら</button>
    <br>

    {% if articles %}
    {% for article in articles %}
    <div class="text">
    <h2><a href="{% url 'detail' article.id %}">{{ article.title }}</a></h2>
    <small>[{{ article.posted_at }}]</small>
    <div>
        {{ article.body | linebreaksbr }}
    </div>
    </div>
    {% endfor %}
    {% else %}
    <p></p>
    {% endif %}
  </body>
</html>