body {
    font-family: serif;
    color: #fafafa;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

h1 {
    border-bottom: solid 1px #fafafa;
}

h2 {
    padding: 0px 10px 0px 10px;
    border-left: solid 4px #fafafa;
}

#header {
    background-color: #17194c;
    padding: 10px 20px 10px 20px;
    height: 40px;
}

#header img {
    height: 100%;
}

#titleInput {
    margin: 10px;
    padding: 10px;
    border: solid 2px#666666;
    width: 40%;
}

#textInput {
    margin: 10px;
    padding: 10px;
    border: solid 2px#666666;
    width: 80%;
}

.text {
    margin: 10px;
    padding: 10px;
    background-color: #0d0e0d1a;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}